@page "/ifcjs"

@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@inject ShareState ShareState
@using System.ComponentModel;
@implements IDisposable


<aside class="side-menu" id="side-menu-left"></aside>
<div id="viewer-container"></div>
<div id="loading-overlay" class="loading-overlay hidden">
    <h1 id="loading-progress" class="loading-progress"></h1>
</div>
<script src="_content/WebviewAppShared/ifcjs/main.js"></script>
<script src="_content/WebviewAppShared/ifcjs/common.js"></script>

@code {

    protected override void OnInitialized()
    {
        NavigationManager.LocationChanged += LocationChanged;
        base.OnInitialized();
        ShareState.PropertyChanged += OnShareStateChanged;
    }

    void LocationChanged(object sender, LocationChangedEventArgs e)
    {
        NavigationManager.NavigateTo(e.Location, forceLoad: true);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
    }

    private async void OnShareStateChanged(object? sender, PropertyChangedEventArgs e)
    {
       await JSRuntime.InvokeVoidAsync("window.openFileDialog");
    }

    public void Dispose()
    {
        ShareState.PropertyChanged -= OnShareStateChanged;
    }
}
